.link-back {
  text-decoration: none;
  color: white;
}

.form {
  position: relative;
  width  : 740px;
  height : 498px;
  margin : 0 auto;
  background: url(../img/postcard-background.jpg);
  color: rgb(53, 53, 53);
}

.form__item {
  border: none;
  padding: 0 10px;
  margin: 0;
  width: 240px;
  background: none;
}

.form__item:focus {
  background: rgba(0, 0, 0, .1);
  border-radius: 5px;
}

.form__title {
  position: absolute;
  left: 415px;
  top: 185px;
  margin: 0;
}

.form__from {
  position: absolute;
  left : 398px;
  top  : 235px;
}

.form__reply {
  position: absolute;
  left : 390px;
  top  : 285px;
}

.form__message {
  position: absolute;
  left : 20px;
  top  : 70px;
  display: block;
  padding: 10px;
  margin: 10px 0 0 -10px;
  width: 340px;
  height: 360px;
  resize: none;
  overflow: auto;
}

.form__label {
  font-family: 'typewriter', sans-serif;
}

.form__button {
  position: absolute;
  left: 440px;
  top: 360px;
  padding: 5px;
  font: bold 10px sans-serif;
  border: 2px solid #333;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  -webkit-transform: rotate(-1.5deg);
    -moz-transform: rotate(-1.5deg);
      -ms-transform: rotate(-1.5deg);
      -o-transform: rotate(-1.5deg);
          transform: rotate(-1.5deg);
}

.form__button:after {
  content: " >>>";
}

.form__button:hover, .form__button:focus {
  outline: none;
  background: #000;
  color: white;
}